@import "./mixins.scss";
@import "./variables.scss";

* {
	box-sizing: border-box;
}
*:after,
*:before {
	box-sizing: border-box;
}

.flex-box {
	display: flex;
	align-items: center;
	justify-content: center;
	
	.flex-item {
		flex: 1;
	}
}

.show-more {
	font-size: 24rpx;
	padding: 8rpx 20rpx;
	border-radius: 30rpx;
	border: 1px solid #C0C0C0;
}