@mixin singleLineHidden($width) {
	width: $width;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin baseAfter($height, $width) {
	display: block;
	content: '';
	position: absolute;
	height: $height;
	width: $width;
}